body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.heading-background{
    width: 100%;
    height: 150px;
    background-color: rgb( 0, 0, 130);
}

h1 {
    margin-left: 20%;
    width: 60%;
    height: 100px;
    text-align: center;
    background-color: #0C6BFB;
    font-size: clamp(1rem,10vw,3rem);
    padding-top: 15px;
    text-shadow: 5px 3px 2px black;
    color: white;
}

h2 {
    margin-left: 20%;
    width: 60%;
    height: 45px;
    text-align: center;
    background-color: #0C6BFB;
    font-size: clamp(0.4rem,4vw,1.2rem);
    color: white;
    text-decoration: underline;
}

.container-fluid{
    background-color: #0C6BFB;
    padding-right: 2%;
    outline: white solid 5px;
}

.nav-link {
    color: white;
}

.nav-linkactive{
    color: white;
    text-align: center;
    text-decoration: solid underline white;
}

.star {
    vertical-align: right;
    width: 100px;
}

.Cut-Circle {
    margin-left: 46%;
    width: 8%;
    rotate: 270deg;
}

p {
    font-size: 20px;
    text-align: center;
    padding-top: 4%;
    margin: 0 15% 0 15%;
    color: black;
}