body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.heading-background{
    width: 100%;
    height: 150px;
    background-color: #f4f4f9;
}

h1 {
    margin-left: 20%;
    width: 60%;
    height: 100px;
    text-align: center;
    background-color: #f4f4f9;
    font-size: clamp(1rem,10vw,3rem);
    padding-top: 15px;
    text-shadow: 3px 3px 2px black;
    color: #586f7c;
}

h2 {
    margin-left: 20%;
    width: 60%;
    height: 45px;
    text-align: center;
    background-color: #f4f4f9;
    font-size: clamp(0.4rem,4vw,1.2rem);
    color: #586f7c;
    text-decoration: underline;
}

.container-fluid{
    background-color: #2f4550;
    padding-right: 2%;
    outline: white solid 5px;
}

.nav-link {
    color: white;
}

.nav-linkactive{
    color: white;
    text-align: center;
    text-decoration: solid underline white;
}

.star {
    vertical-align: right;
    width: 100px;
}

.Cut-Circle {
    margin-left: 46%;
    width: 8%;
    rotate: 270deg;
}

p {
    font-size: 20px;
    text-align: center;
    padding-top: 4%;
    margin: 0 15% 0 15%;
    color: black;
}

.designs {
    width: 150px;
    background-color: lightgray;
}

.render{
    width: 400px;
    padding-top: 20px;
}

.renders {
    width: 300px;
    padding-top: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  border-radius: 6px;
}

/* When screen width is less than 540px */
@media (max-width: 540px) {
  .row {
    flex-direction: column;
  }
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-container {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .carousel-container {
    width: 80%;
    height: auto;
    margin: 10px auto;
    }
}