body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.heading-background{
    width: 100%;
    height: 150px;
    background-color: rgb(180, 0, 0);
}

h1 {
    width: 60%;
    height: 150px;
    background-color: rgb(80, 80, 80);
    font-size: 90px;
    text-indent: 20%;
    padding-top: 20px;
    text-shadow: 5px 3px 2px black;
    color: white;
}

p {
    font-size: 20px;
    padding-left: 15px;
    color: black;
}