body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.heading-background{
    width: 100%;
    height: 150px;
    background-color: rgb( 0, 0, 130);
}

h1 {
    width: 60%;
    height: 100px;
    text-align: center;
    background-color: #0C6BFB;
    font-size: clamp(1rem,10vw,3rem);
    padding-top: 15px;
    text-shadow: 5px 3px 2px black;
    color: white;
}

h2 {
    width: 60%;
    height: 45px;
    text-align: center;
    background-color: #0C6BFB;
    font-size: clamp(0.4rem,4vw,1.2rem);
    color: white;
}

.container-fluid{
    background-color: #0C6BFB;
    padding-left: 10px;
    outline: white solid 5px;
}

p {
    font-size: 20px;
    padding-left: 15px;
    color: black;
}