body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.heading-background{
    width: 70%;
    height: 100px;
    background-color: grey;
}

h1 {
    font-size: 48px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
